/SubscriberService/SubscriberWebService/SubscriberWebService/bin
/SubscriberService/SubscriberWebService/SubscriberWebService/obj
/SubscriberService/SubscriberWebService/SubscriberWebService/SubscriberWebService.csproj.user
/SubscriberService/SubscriberWebService/SubscriberWebService/Contract/output.config
/SubscriberService/SubscriberWebService/SubscriberWebService/Contract/subscriber.xsd
/SubscriberService/SubscriberWebService/SubscriberWebService/Contract/DATEXII_NTISExtensions_1.0Beta1.xsd
/SubscriberService/SubscriberWebService/SubscriberWebService/Contract/DATEXIISchema_2_2_0withdefinitions.xsd
/SubscriberService/SubscriberWebService/SubscriberWebService/Contract/subscriber.wsdl
/SubscriberService/SubscriberWebService/TestResults
/SubscriberService/SubscriberWebService/SubscriberWebService.sln.DotSettings.user
/SubscriberService/SubscriberWebService/SoapMessageUtility/obj
/SubscriberService/SubscriberWebService/SoapMessageUtility/bin
/SubscriberService/SubscriberWebService/SubscriberWebServiceTestProject/obj
/SubscriberService/SubscriberWebService/SubscriberWebServiceTestProject/bin
/SubscriberService/SubscriberWebService/SubscriberWebService.vsmdi
/SubscriberService/SubscriberWebService/LocalTestRun.testrunconfig
/SubscriberService/SubscriberWebService/SubscriberWebService.suo
/TestClient/TestClient/TestClient.suo
/TestClient/TestClient/TestClient/bin
/TestClient/TestClient/TestClient/obj

/SubscriberService/SubscriberWebService/SubscriberWebService.v11.suo
/TestClient/TestClient/TestClient.v11.suo
